<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Campaign App</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav style="text-align: center; margin: 1rem;">
    <a href="/create">Create Campaign</a> |
    <a href="/campaigns">View Campaigns</a>
  </nav>
  <hr />
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>
